<div style="padding-left: 20px; padding-right: 20px">
	<div class="container">
		<h1>New Event</h1>
		<hr />
		<form name="newEventForm">
			<fieldset>
				<label for="eventName">Event Name: </label>
				<input id="eventName" ng-model="event.name" required type="text" placeholder="Name of your event..." />
				<label for="eventDate">Event Date: </label>
				<input id="eventDate" ng-model="event.date" ng-pattern="/\d\d/\d\d/\d\d\d\d/" required type="text" placeholder="format (mm/dd/yyyy)..." />
				<label for="eventTime">Event Time: </label>
				<input id="eventTime" ng-model="event.time" type="text" placeholder="start and end time..." />
				<label for="eventLocation">Event Location: </label>
				<input id="eventLocation" ng-model="event.location.address" type="text" placeholder="Location of your event..." />
				<br />
				<input id="eventCity" ng-model="event.location.city" type="text" class="input-small" placeholder="City..." />
				<input id="eventProvince" ng-model="event.location.province" type="text" class="input-small" placeholder="State..." />	
				
				<label for="eventImageUrl">Image: </label>
				<input id="eventImageUrl" ng-model="event.imageUrl" type="url"  class="input-xlarge" placeholder="Url of image..." />				
			</fieldset>
			<img ng-src="{{event.imageUrl}}" src="" />
			<br />
			<br />
			<button type="submit" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event, newEventForm)" class="btn btn-primary">Save</button>
			<button type="button" ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
		</form>
	</div>
</div>

